.new-article-form {
  margin-top: 60px;
  border: 1px solid #acc864;
  border-radius: 8px;
  padding: 20px;
}

.new-article-form input,
.new-article-form textarea {
  width: 100%;
  margin: 10px 0;
}
